.skill__list__container {
  min-width: 180px;
  background: var(--dark);
  text-align: center;
  padding: 2rem;

  span {
    font-size: 3.8rem;
    color: var(--primary);
  }

  p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--light);
    letter-spacing: 0.28rem;
  }
}
