.skills {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
  gap: 2rem;
  margin: 3rem auto;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
}

@media (min-width: 500px) {
  .skills {
    width: 600px;
  }
}
