.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home {
  background: var(--dark);
  height: 100%;
  margin-top: -6rem;
  padding: 6rem 2rem 2rem 2rem;
  color: var(--light);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.38));
  border-radius: 0.5rem;
}

@media (min-width: 500px) {
  .home {
    max-width: 500px;
  }
}

.profile {
  &__img {
    width: 15rem;
    height: auto;
    z-index: 400;
    margin-top: 6rem;
  }
  &__name {
    margin: 0.8rem 0;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
  }

  &__bio {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary);
  }
}
