.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 2rem;
    font-size: 2.8rem;
    color: var(--primary);
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active {
      color: var(--light);
      transform: scale(1.2);
    }
  }
}
