.navBar {
  //   height: 55px;
  background: var(--dark);
  padding: 1.5rem;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }

  li {
    border-bottom: 1px solid var(--primary);
    margin: 1rem;
  }

  a {
    display: block;
    width: 100%;
    color: var(--light);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.38rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      letter-spacing: 0.22rem;
      color: var(--secondary);
    }
  }
}

.activeLink {
  letter-spacing: 0.22rem;
  color: var(--secondary);
}

@media (min-width: 600px) {
  .navBar {
    ul {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    li {
      border-bottom: none;
      margin: 0 2rem;
    }
  }
}
