@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: "Roboto", sans-serif;
}

button:disabled {
  @apply cursor-not-allowed opacity-50;
}
